registry=https://purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm/
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm/:_password=QVAzWjhSNUpEb2RjSEs5Q0I1SzRHckg3YzZqS3hpRTJLN1B6ODhQdUdZQWNvVzZaZg==
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm/:username=inin-developer
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm/:always-auth=true
@inin-dev:registry=https://purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:_password=QVAzWjhSNUpEb2RjSEs5Q0I1SzRHckg3YzZqS3hpRTJLN1B6ODhQdUdZQWNvVzZaZg==
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:username=inin-developer
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:email=DevOps-CloudApplications@inin.com
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:always-auth=true
@purecloud:registry=https://purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:_password=QVAzWjhSNUpEb2RjSEs5Q0I1SzRHckg3YzZqS3hpRTJLN1B6ODhQdUdZQWNvVzZaZg==
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:username=inin-developer
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:email=DevOps-CloudApplications@inin.com
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:always-auth=true
@altocloud:registry=https://purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:_password=QVAzWjhSNUpEb2RjSEs5Q0I1SzRHckg3YzZqS3hpRTJLN1B6ODhQdUdZQWNvVzZaZg==
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:username=inin-developer
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:email=DevOps-CloudApplications@inin.com
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:always-auth=true
@genesys:registry=https://purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:_password=QVAzWjhSNUpEb2RjSEs5Q0I1SzRHckg3YzZqS3hpRTJLN1B6ODhQdUdZQWNvVzZaZg==
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:username=inin-developer
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:email=DevOps-CloudApplications@inin.com
//purecloud.jfrog.io/purecloud/api/npm/inin-internal-npm-dev/:always-auth=true
