.toggle-switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 45px;
    height: 25px;
    background: gray;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}

.toggle-label .toggle-button {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.toggle-switch:checked + .toggle-label .toggle-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.toggle-label:active .toggle-button {
    width: 30px;
}

.toggle-on {
    background: #06D6A0;
}