<div class="entry-row">
    <div class="entry-label">
        <i class="ion-ios-world-outline"></i>
    </div>
    <div class="entry-values">
        {{ environmentText() | translate }}
    </div>
</div>

<div class="entry-row">
    <div class="entry-label">
        <i class="ion-mic-a"></i>
    </div>
    <div class="entry-values">
        {{ 'dummy.currentMicrophone' | translate }}
        <select id="{{concat elementId '-microphone-select'}}"
            placeholder="Select microphone"
            (change)="changeMic"
            class="form-control speakers-select">
            <option *ngFor="let mic of microphones; trackBy: trackByFn" id="{{generateId(device)}}" [ngValue]="{{mic.deviceId}}">{{mic.label}}</option>
        </select>
    </div>
</div>

<div class="entry-values">
    <div class="entry-label">
        <i class="ion-ios-information-outline"></i>
    </div>
    <div class="entry-values">
        {{headsetStatus() | translate}}
    </div>
</div>

<div class="entry-row" *ngIf="deviceInfo">
    <div class="entry-values">
        <div class="entry-value">{{ 'dummy.controlInstructions' | translate }}</div>
            <div class="entry-value">
                <button type="button" (click)="simulateIncomingCall()">{{'dummy.simulateCall' | translate}}</button>
                <button type="button" (click)="endAllCalls()">{{'dummy.endAllCalls' | translate}}</button>
            </div>
            <div class="entry-value">
                <button disabled={{if currentCall false true}} type="button" (click)="answerIncomingCall()")>{{'dummy.answer' | translate}}</button>
                <button disabled={{if connected false true}} type="button" (click)="toggleSoftwareMute()">
                    {{ getMuteStatus() | translate }}
                </button>
                <button disabled={{if connected false true}} type="button" (click)="toggleSoftwareHold()">
                    {{ getHoldStatus() | translate }}
                </button>
                <button disabled={{if currentCall false true}} type="button" (click)="endCurrentCall()">End</button>
            </div>
    </div>
</div>

<div class="entry-row" *ngIf=audioStream>
    <div class="entry-label">
        <i class="ion-mic-a"></i>
    </div>
    {{audio-visualizer audioStream=audioStream}}
</div>

<div class="entry-row">
    <div class="entry-label">
        <i class="ion-ios-telephone"></i>
    </div>
    <div class="entry-values">
        <div class="entry-value">
            {{'dummy.callState' | translate}}
        </div>
        <div class="entry-value" *ngIf=currentCall>
            <div>id: {{currentCall.id}}</div>
            <div>{{t "dummy.contactName"}}: {{currentCall.contactName}}</div>
            <div>{{t "dummy.ringing"}}: {{currentCall.ringing}}</div>
            <div>{{t "dummy.connected"}}: {{currentCall.connected}}</div>
            <div>{{t "dummy.muted"}}: {{currentCall.muted}}</div>
            <div>{{t "dummy.held"}}: {{currentCall.held}}</div>
        </div>
        <div class="entry-value" *ngIf=!currentCall>
            {{ 'dummy.noCall' | translate }}
        </div>
    </div>
</div>

<textarea *ngIf=deviceInfo>{{eventLogsJson}}</textarea>

<div class=entry-row>
    <p>
        <a target="_blank" href="https://help.mypurecloud.com/articles/configure-a-jabra-headset/">Jabra Setup</a>
        <a target="_blank" href="https://help.mypurecloud.com/articles/configure-a-plantronics-headset/">Plantronics Setup</a>
        <a target="_blank" href="https://help.mypurecloud.com/articles/configure-a-sennheiser-headset/">Sennheiser Setup</a>
    </p>
</div>