.section {
    margin: 25px 0;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #0a0a0a;
}

.primary-intro, h1 {
    text-align: center;
}

.intro {
    padding: 20px;
}

body > div.ember-view {
    display: flex;
    flex-direction: column;
}

  body > div.ember-view > * {
    width: 100%;
    padding: 10px;

    display: flex;
    align-items: start;
}

h1 {
    position: fixed;
    margin: 0;
    padding: 20px;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    font-weight: 100;
}

.esi-headset-info {
    padding: 0;
    display: inline-flex;
}

.esi-status-value {
    font-weight: normal;
}

.esi-headset-info .esi-status-text {
    padding: 0;
}.entry-label {
    padding: 10px;
}

.entry-values {
    padding: 10px 0 0 0;
}

.entry-value {
    padding: 0 0 10px 0;
}

.pc {
    display: inline-block;
    font-family: "Ionicons";
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pc-reload {
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button {
    border: 2px solid #623f5c;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pc-reload::before {
    content: "\f49a";
}

textarea {
    min-height: 200px;
}
